/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* added from thinkful */
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */


/* End of Base Styles */

/* CSS STRUCTURE  
https://smacss.com/book/categorizing
Base - reset, box
Layout- grid, defining class,    bootstrap/foundation/jeet
Module- Individual sections....rooms, 
State- fuctions...swinging door  overides
Theme...font,  */


/* Navigation Section */


html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /*	keeps smooth tye */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	background: #eeeeee;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
}

div {
    /* border 2px solid block; for testing */
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

:focus {
    outline: none;
}

/* Navigation Section */

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    border-bottom: 1px solid #DDD;
}

.top-navigation > .content {
    margin: 0 auto; /* centering */
    max-width: 1400px;
    height: 4.375rem;
}

.top-navigation .logo {
	/* margin-left: 8em; */
	/*height: 72px; */
    height: 4.5rem;
	/* padding: 0 1em; */
    z-index: 9999; /* puts on top */
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.8rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    /*margin-left: 25px; or */
    margin-left: 1.563rem;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* note The specificity of the navigation menu*/

/* Hero section 
Note: font-weight thinner for all of their headings
*/

.hero {
    /* Layout Declarations */
    text-align: center;
}

.hero {
    background-image: url('../images/first-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    /* height: 50em; */
    background-position: center bottom;
    height: 45.938rem;
    overflow: auto; /* ?' good explanation*/
}

.hero > .content {
    margin: 0 auto; /* centering */
    max-width: 1400px;
}

.hero h1, 
.hero h2 {
    color: white;
    text-align: center;
    font-weight: 300;
     /* Keeping below repetitive CSS to remind self to bring together alike*/
}

.hero h1 {
    margin-top: 17.5rem;
     /* Type Declarations */
    font-size: 3rem;
    color: white;
    text-align: center;
}

.hero h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
}

/* Buttons */

.hero-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px; /* rem ? */
    padding: 16px 26px; /* em vs px */
    line-height: 1.33;
    width: 15%;

    margin: 2em 0;
    background: #fff;
    cursor: pointer;
}

/*
.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}
.introduction .half {
    width: 49%;
    padding: 0 0.938rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.125rem;
    line-height: 1.2;
}*/

/*  
Features Section
*/
.features {
    background: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.features > .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging 
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    /* give w&h for box sizing*/
}

.features .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.features h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.features .devices > li {
    width: 33.3333333%;
    float:left;
}
.features .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.features .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}
 

/*
footer {
    clear: both;
    display: block;
}

footer > .content {
    margin: 0 auto; /* centering 
    max-width: 1400px;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. nav
 * 3. main
 * 4. aside
 * 5. footer
 */


/**
 * Footer
 */
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    margin: 0 auto;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

